<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light"  style="background-color:black">
  <h2 class="navbar-brand" style="color:orange"><i class="fa fa-ravelry"></i> Infrom-nation</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color:orange"href="/"><i class="fa fa-home" style="font-size: 1.2em; color:orange"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:orange">
        <i class="fa fa-user ml-1" id="userIcon" style="font-size: 1.2em; color:orange"></i> User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {{#if login}}
         {{#if user.admin}}
          <a class="dropdown-item" href="/user/admin">Profile</a>
          {{else}}
          <a class="dropdown-item" href="/user/profile">Profile</a>
          {{/if}}
          <a class="dropdown-item" href="/user/logout">Log out</a>
        {{else}}
          <a class="dropdown-item" href="/user/signup">Sign up</a>
          <a class="dropdown-item" href="/user/signin">Sign in</a>
         {{/if}}
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search by title" aria-label="Search" id="searchBar" style="outline-color:orange" onkeyup="search()">
    </form>
  </div>
</nav>

<script>

var search = function (){
  var input = document.getElementById("searchBar")
  var filter = input.value.toLowerCase()
  var content = document.querySelectorAll("#tryme")
  var title = document.querySelectorAll("#indexTitle")
  
  for(var i = 0; i< title.length; i++){
    var titles = title[i].innerText
    var titles = titles.toLowerCase()
    if(titles.indexOf(filter) > -1){
      content[i].style.display =""
    }
    else{
      content[i].style.display = "none"
    }
  }
}

</script>

<div  style="margin-top: 20px; text-align:center;  " >
  <div class="title-block">
    <div class="container ">

      <div class="row">
      <div class="col col-lg-12 col-md-10 col-sm-1 mx-2">


<h3 style="font-family:'Times New Roman', Times, serif ;color:black; font-size:60px;">INFORM-NATION</h3>

</div>
</div>

<div class="row">
<div class="col col-lg-12 col-md-0 col-sm-0 ">

<p id="subTitle" >Welcome to our humble site, here you can write your story, or read others, it doesn't matter as long as we all feel informed.</p>


</div>
      </div>
      
    </div>

</div>


</div>

<div class="container" id="index-cont" >
 
   {{#each approved}} 
   <div class="container pt-2" id="tryme">
    <div class="col mt-5">
  <h2 id="indexTitle" style="margin-right:auto; text-align:center; color:orange">{{ this.title }}</h2>
  <p style="color:orange;">Date: {{ this.publicationDate }}</p>
  <p style="color:orange;">Author: {{ this.author }}</p>
  </div>
  <div class="col">
    {{ this.content }}
  </div>
 
  <hr class="index-hr"> 
  </div>
   {{/each}}
</div>
<footer id="index-footer">
  <address class="footer-contact">
      <label>Developed by: </label> <p class="ml-3">Špago Dženan</p>
      <hr class="contact-hr">
      <label>Email adress: </label> <p class="ml-3">dzenan_95@hotmail.com</p>
      <hr class="contact-hr">
      <p>&copy; 2019 Inform-nation.com<p></p>
    
    </address>
    <div class="footer-links"> 
      {{#if login}}
      {{#if user.admin}}
    <a href="/"><i class="fa fa-home" style="font-size: 1.2em; color:orange;margin-right:10px;"></i>Home</a> 
    <a href="/user/admin"><i class="fa fa-user ml-1" id="userIcon" style="font-size: 1.2em; color:orange;margin-right:10px;"></i> Profile</a> 
    <a href="/user/publish"><i class="fa fa-upload" style="font-size: 1.2em; color: orange; margin-right:10px;" ></i>Publish</a>
      {{else}}
    <a href="/"><i class="fa fa-home" style="font-size: 1.2em; color:orange;margin-right:10px;"></i>Home</a> 
    <a href="/user/profile"><i class="fa fa-user ml-1" id="userIcon" style="font-size: 1.2em; color:orange;margin-right:10px;"></i> Profile</a> 
    <a href="/user/publish"><i class="fa fa-upload" style="font-size: 1.2em; color: orange; margin-right:10px;" ></i>Publish</a> 
     
     {{/if}}
     {{else}}
    <a href="/"><i class="fa fa-home" style="font-size: 1.2em; color:orange;margin-right:10px;"></i>Home</a> 
    <a href="/user/signin"><i class="fa fa-user ml-1" id="userIcon" style="font-size: 1.2em; color:orange;margin-right:10px;"></i> Profile</a> 
    <a href="/user/signin"><i class="fa fa-upload" style="font-size: 1.2em; color: orange; margin-right:10px;" ></i>Publish</a> 
     {{/if}}
     </div>
</footer>