<nav class="navbar navbar-expand-lg navbar-light" style="background-color:black">
  <h2 class="navbar-brand" style="color:orange;"><i class="fa fa-ravelry"></i> Infrom-nation</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color:orange"><i class="fa fa-home" style="font-size: 1.2em; color:orange"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:orange">
        <i class="fa fa-user ml-1" id="userIcon" style="font-size: 1.2em; color:orange"></i> User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
<<<<<<< HEAD
=======
          <a class="dropdown-item" href="/">Home</a>
<<<<<<< HEAD
>>>>>>> mybranch
          <a class="dropdown-item" href="/user/logout">Logout</a>
=======
          <a class="dropdown-item" href="/user/logout">Log out</a>
>>>>>>> mybranch
        </div>
      </li>
           <li class="nav-item">
          <a class="nav-link" href="/user/edit"> <i class="fa fa-edit ml-1" style="font-size:1.2em;"> </i> Edit profile</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn my-2 my-sm-0" type="submit"style="background-color:orange">Search</button>
    </form>
  </div>
</nav>

<div class="container" id="adminProfile-cont"style="background-color:black; margin-top:10px; margin-bottom:10px; color:orange; text-align:center; border-radius:2%; width:40%">
    <h3 class="welcome pt-3">Hello {{user.email}}.</h3>
    <h3 class="wlcm pt-2">Welcome to your profile page.</h3>
    <h3 class="pt-5">You are an administrator of this website.</h3>
    <br>
    <label class="pt-2 pb-2"> click here if you want to publish your</label>
    <a type="button" href="/user/publish" style="font-size:20px;">story</a>
</div>

 {{#each unApproved}}
<div class="container" id="approval" style="color:papayawhip; background-color:black; border-radius:2%; padding-bottom:20px; ;margin-bottom:30px">
  
 <form action="/user/admin" method="POST">
    <div class="col mt-5">
  <h2 style="margin-right:auto; text-align:center; color:orange; padding-top:5%;">{{ this.title }}</h2>
  <p style="color:orange;">Author: {{ this.author }}</p>
  <p style="color:orange;">Date: {{ this.publicationDate }}</p>
  <input style="color:orange;" type="hidden" name="id" value="{{ this.id }}">
  </div>
  <div class="col pb-5">
    {{ this.content }}
  </div>
 
  <hr>
 <input type="hidden" name="_csrf" value="{{ csrfToken }}">
 <div id="x" onclick="clickedElement(event)" >

 <button name="action" value="delete" id="dis" class="btn mr-1 ml-2 mt-n5" type="submit" style="float:left; background-color:orange;" formaction="/user/adminDissapproval">Disapprove</button> 
  <button name="action" value="update" id="approve" class="btn mr-1 ml-2 mt-n5" type="submit" style="float:right; background-color:orange; color:black">Approve</button> 

</div>
</form> 
</div>

  {{/each}}
