<nav class="navbar navbar-expand-lg navbar-light"  style="background-color:black">
  <h2 class="navbar-brand" style="color:orange;"><i class="fa fa-ravelry"></i> Infrom-nation</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"  style="color:orange"><i class="fa fa-home" style="font-size: 1.2em; color: orange"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  style="color:orange" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user ml-1" id="userIcon" style="font-size: 1.2em; color:orange"></i> User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user/profile"  style="color:black">Profile</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  style="background-color:orange; color:black ">Search</button>
    </form>
  </div>
</nav>


<div  id="form-edit">
    {{#if hasError}}
        <div class="alert alert-danger mb-n5" style="width: 40%; margin:auto">
            {{#each messages}}
                <p  style="margin-left: 35%; font-size:18px;">{{this}}</p>
             {{/each}}
        </div>
    {{/if}}
<form class="form rounded-lg" action="/user/edit" method="POST" autocomplete="off">
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" value="{{user.email}}">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" value="{{user.password}}">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label>Mobile</label>
        <input type="text" class="form-control" name="mobile" value="{{user.mobile}}">
        </div>
         <div class="form-group col-md-6">
        <label>City</label>
        <input type="text" class="form-control" name="city" value="{{user.city}}">
    </div>
    </div>

    <div class="form-row">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"> 
        <button type="submit" class="btn btn-info"  style="background-color:orange; color:black"><i class="fa fa-database mr-1"></i> Save</button>
    </div>
</form>
</div>  

